# Ignore virtual environments
env1/
env2/
env3/

# Other files to ignore
*.pyc
__pycache__/

# Ignore other unnecessary files
*.log
*.sqlite3

# Ignore IDE/editor files
.idea/
.vscode/
